In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('converter_params_full_5trg_VCNew.csv')
df2 = pd.read_csv('converter_params_ROI_5trg_VCNew.csv')

In [4]:
df1

    Source Target  Number of samples  Alpha ROI Method
0       TH     AM                300      1  VC   full
1       TH     AM                600      2  VC   full
2       TH     AM                900      6  VC   full
3       TH     AM               1200      1  VC   full
4       TH     AM               2400    220  VC   full
..     ...    ...                ...    ...  ..    ...
155     JP     KS               1200      1  VC   full
156     JP     KS               2400    340  VC   full
157     JP     KS               3600    400  VC   full
158     JP     KS               4800    540  VC   full
159     JP     KS               6000    640  VC   full

[160 rows x 6 columns]

In [5]:
sbj_mapping = {'TH': 'sub-01',
               'AM': 'sub-02',
               'ES': 'sub-03',
               'KS': 'sub-04',
               'JP': 'sub-05'}

In [6]:
method_mapping = {'full': 'wholeVC', 'ROI': 'subareawise'}

In [7]:
df = pd.concat([df1,df2])

In [9]:
df['Source'] = df['Source'].apply(lambda x: sbj_mapping[x]).values
df['Target'] = df['Target'].apply(lambda x: sbj_mapping[x]).values

In [10]:
df['Method'] = df['Method'].apply(lambda x: method_mapping[x]).values

In [12]:
df.to_csv('converter_params.csv', index=None)

In [14]:
det1 = df['Number of samples'] == 2400
det2 = df['Method'] == 'wholeVC'
det3 = df['Source'] == 'sub-01'
det4 = df['Target'] == 'sub-02'

In [16]:
df[det1 & det2 & det3 & det4].to_csv('converter_params_1conversion.csv')